<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.mappers.questionBoardMapper">
	<select id="getAllBoard"
		resultType="com.goott.vodto.ksh.QuestionBoardDto">
		SELECT * FROM question_board ORDER BY NO DESC;
	</select>

	<insert id="insertBoard"
		parameterType="com.goott.vodto.ksh.QuestionBoardDto"
		useGeneratedKeys="true" keyProperty="no">
		INSERT INTO question_board (writer, title, content, category)
		VALUES(#{writer}, #{title}, #{content}, #{category})
	</insert>

	<insert id="insertUploadFiles">
		INSERT INTO upload_file
		(extension, original_filename,
		new_filename, file_size, board_no)
		VALUES
		<foreach item="item" index="index" collection="list"
			separator=",">
			(#{item.extension}, #{item.originalFileName},
			#{item.newFileName},#{item.fileSize},#{no})
		</foreach>
	</insert>
	
	<select id="getDetailBoard"
		resultType="com.goott.vodto.ksh.QuestionBoardDto">
				SELECT q.*, count(DISTINCT u.uf_no) AS ufNoCount, COUNT(DISTINCT c.comment_no) AS commentCount FROM question_board q inner join upload_file u
		on q.no = u.board_no 
        LEFT JOIN comments c ON q.no = c.ref where q.no = #{no} and c.board_category_no = 1;
		
	</select>
	
	<select id="getBoardUploadFile"
		resultType="com.goott.vodto.ksh.UploadFiles">
		SELECT * FROM upload_file WHERE board_no = #{no}
	</select>
	
	<select id="getAllComments"
		resultType="com.goott.vodto.ksh.Comments">
		SELECT * FROM comments WHERE ref = #{no} and board_category_no = 1;
	</select>
</mapper>