<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goott.mappers.questionBoardMapper">

	<select id="getTotalPostCnt" resultType="java.lang.Integer">
		SELECT count(*) FROM
		question_board;
	</select>

	<select id="getAllBoard"
		resultType="com.goott.vodto.ksh.QuestionBoardDto">
		SELECT * FROM question_board ORDER BY NO DESC
	</select>

	<insert id="insertBoard"
		parameterType="com.goott.vodto.ksh.QuestionBoardDto"
		useGeneratedKeys="true" keyProperty="no">
		INSERT INTO question_board
		(writer, title, content, category)
		VALUES(#{writer}, #{title},
		#{content}, #{category})
	</insert>

	<insert id="insertAnswer"
		parameterType="com.goott.vodto.ksh.AnswerDto" useGeneratedKeys="true"
		keyProperty="answer_no">
		INSERT INTO answers
		(writer, content, ref)
		VALUES(#{writer},
		#{content}, #{ref})
	</insert>

	<insert id="insertUploadFiles">
		INSERT INTO upload_file
		(extension, original_fileName,
		new_fileName,
		file_size)
		VALUES
		<foreach item="item" index="index" collection="list"
			separator=",">
			(#{item.extension}, #{item.original_fileName},
			#{item.new_fileName},#{item.file_size})			
		</foreach>
	</insert>
	
	<select id="getUploadFileNo" resultType="com.goott.vodto.ksh.UploadFiles">
		SELECT uf_no FROM upload_file WHERE new_fileName IN
		<foreach item="item" collection="list" open="(" separator="," close=")">
        #{item.new_fileName}
    </foreach>
	</select>
	
	<insert id="insertQuestionUploadFile">
		INSERT INTO question_upload_file (uf_no, board_no) VALUES
		<foreach item="item" index="index" collection="list"
			separator=",">
			(#{item.uf_no}, #{no})			
		</foreach>
	</insert>
	
	<insert id="insertAnswerUploadFile">
		INSERT INTO answer_upload_file (uf_no, board_no) VALUES
		<foreach item="item" index="index" collection="list"
			separator=",">
			(#{item.uf_no}, #{no})			
		</foreach>
	</insert>

	<select id="getDetailBoard"
		resultType="com.goott.vodto.ksh.QuestionBoardDto">
		SELECT q.*, COUNT(DISTINCT u.uf_no) AS ufNoCount,
		COUNT(DISTINCT a.answer_no) AS answerCount
		FROM question_board q
		LEFT JOIN question_upload_file u ON q.no = u.board_no
		LEFT JOIN answers a ON q.no = a.ref
		WHERE q.no = #{no};
	</select>

	<select id="getBoardUploadFile"
		resultType="com.goott.vodto.ksh.UploadFiles">
		SELECT * FROM upload_file u INNER JOIN question_upload_file q ON u.uf_no = q.uf_no WHERE q.board_no = #{no}
	</select>

	<select id="getAllAnswers"
		resultType="com.goott.vodto.ksh.AnswerDto">
		SELECT a.*,
		CASE WHEN u.file_count > 0 THEN file_count ELSE 0 END AS file_status
		FROM answers a
		LEFT JOIN (
		SELECT board_no, COUNT(*) AS file_count
		FROM answer_upload_file
		GROUP BY board_no
		) u ON a.answer_no =
		u.board_no
		WHERE a.ref = #{no}
	</select>

	<!-- 상세 게시글 조회 시 답변이 있는 경우 답변 파일 얻기 -->
	<select id="getAnswerUploadFile"
		resultType="com.goott.vodto.ksh.UploadFiles">
		SELECT * FROM upload_file u 
		INNER JOIN answer_upload_file a
		ON u.uf_no = a.uf_no 
		WHERE a.board_no = #{answer_no}
	</select>

	<select id="getLikeLogs" resultType="java.lang.Integer">
		SELECT like_status
		FROM like_logs
		WHERE member_id =
		#{member_id} AND answer_no = #{board_no}
	</select>

	<insert id="insertLikeLogs">
		INSERT INTO like_logs (member_id, like_status,
		answer_no) VALUES (#{member_id}, #{like_status},
		#{board_no})
	</insert>

	<update id="updateLikeLogs">
		UPDATE like_logs SET like_status = #{like_status}
		WHERE answer_no = #{board_no}
		AND member_id = #{member_id}
	</update>

	<update id="updateAnswerLikeCount">
		UPDATE answers SET like_count = like_count + #{like_status}  
		WHERE answer_no = #{board_no}
		AND writer = #{member_id}
	</update>
	
	<delete id="deleteLikeLogs">
		DELETE FROM like_logs
		WHERE answer_no = #{board_no}
		AND member_id = #{member_id}
	</delete>
	
	<delete id="deleteBoard">
		DELETE FROM question_board WHERE no = #{no}
	</delete>
	
	<update id="updateBoard">
		UPDATE question_board SET title = #{title}, content = #{content},
		category = #{category} WHERE no = #{no}
	</update>
	
	<select id="getBoardFilesCount" resultType="com.goott.vodto.ksh.QuestionBoardDto">
		SELECT 
    	COUNT(DISTINCT qf.uf_no) AS ufNoCount,
    	COUNT(DISTINCT af.uf_no) AS answerUfCount
		FROM question_board q
		LEFT JOIN question_upload_file qf ON q.no = qf.board_no
		LEFT JOIN answers a ON q.no = a.ref
		LEFT JOIN answer_upload_file af ON a.answer_no = af.board_no
		WHERE q.no = #{no}
	</select>
	
	<delete id="deleteQuestionUploadFile">
		DELETE u FROM upload_file u INNER JOIN question_upload_file q
		ON u.uf_no = q.uf_no
		WHERE q.board_no = #{no};
	</delete>
	
	<delete id="deleteAnswerUploadFile">
		DELETE u FROM answers a 
		INNER JOIN answer_upload_file af
		ON a.answer_no = af.board_no
        INNER JOIN upload_file u
        ON af.uf_no = u.uf_no
		WHERE a.ref = #{no};
	</delete>
	
	<select id="getAnswerUploadFileToDelete" resultType="com.goott.vodto.ksh.UploadFiles">
		SELECT u.* FROM answers a
		INNER JOIN answer_upload_file af ON a.answer_no = af.board_no
		INNER JOIN upload_file u ON af.uf_no = u.uf_no 
		WHERE a.ref = #{boardNo};
	</select>
</mapper>